<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-list">
   <ion-grid>
    <ion-row>
        <ion-col>
            Application ID
        </ion-col>
        <ion-col>
            Member Name
        </ion-col>
        <ion-col>
            Date Submitted
        </ion-col>
        <ion-col>
            Status
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            123123
        </ion-col>
        <ion-col>
            Member Name
        </ion-col>
        <ion-col>
            10/1/2018
        </ion-col>
        <ion-col>
            In Progress
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            123123
        </ion-col>
        <ion-col>
            Member Name
        </ion-col>
        <ion-col>
            10/1/2018
        </ion-col>
        <ion-col>
            Submitted
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            123123
        </ion-col>
        <ion-col>
            Member Name
        </ion-col>
        <ion-col>
            10/1/2018
        </ion-col>
        <ion-col>
            In Progress
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            123123
        </ion-col>
        <ion-col>
            Member Name
        </ion-col>
        <ion-col>
            10/1/2018
        </ion-col>
        <ion-col>
            Pended
        </ion-col>
    </ion-row>
   </ion-grid>

</ion-content>
