<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>
      New Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scan-page-content">
    <div class="new-application-info">
        <div>
            <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>

        <div>
            <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>

        <div>
            <ion-item>
                <ion-label position="floating">Social Security Number</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>
    </div>

    <div class="scan-buttons">
      <ion-button color="primary" shapre="round" (click)="takePicture()">
        Take Picture
      </ion-button>

      <ion-button [color]="scannedImages.length? 'success':'dark'" [disabled]="!scannedImages.length" shapre="round" (click)="submit()">
        Submit
      </ion-button>
    </div>

    <div class="scanned-images">
      <div class="scanned-image" *ngFor="let image of scannedImages; let i = index">
        <img [(src)]="image.imageData">

        <div class="scanned-image-footer">
          <span class="title">
            Page {{ i + 1 }}
          </span>

          <ion-icon slot="icon-only" name="refresh-circle" class="scanned-image-action" (click)="removeImage(image)"></ion-icon>

          <ion-icon slot="icon-only" name="close-circle" class="scanned-image-action"
            (click)="removeImage(image)" color="danger">
          </ion-icon>
        </div>
      </div>

      <span *ngIf="!scannedImages.length">
          No pages scanned yet
      </span>
    </div>
  </div>
</ion-content>
