.scan-page-content {
    padding: 2vw;

    .scan-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 2vw;
        padding-left: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));

        #file-native {
            display: none;
        }

        .scan-button-icon {
            padding-right: 2vw;
        }
    }

    .scanned-images {
        display: flex;
        flex-wrap: wrap;
        margin: 4vw;

        .scanned-image {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 2vw 2vw 0 0;

            img {
                height: 40vw;
                width: 40vw;
            }

            .scanned-image-footer {
                display: flex;
                width: 100%;

                .title {
                    margin-right: auto;
                }

                .scanned-image-action {
                    height: 7vw;
                    width: 7vw;
                }
            }
        }
    }

    .validation-results {
        .title {
            padding-left: 0;
        }

        .validation-results-header {
            font-size: 6vw;
        }

        .list {
            font-size: 5vw;
            list-style: none;
            padding-left: 0;

            .list-item {
                margin: 2vw 0;
            }
        }
    }
}
