<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>
      New Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scan-page-content">
    <ion-card>
    <!-- <div class="new-application-info">
        <div>
            <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>

        <div>
            <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>

        <div>
            <ion-item>
                <ion-label position="floating">Social Security Number</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>
    </div> -->

    <div class="scan-buttons">
      <ion-button color="primary" shapre="round" (click)="takePicture()" [disabled]="submitting">
        <ion-icon name="camera" class="scan-button-icon"></ion-icon>

        Scan
      </ion-button>

      <ion-button [color]="primary" shapre="round" (click)="selectFile()" [disabled]="submitting">
        <ion-icon name="document" class="scan-button-icon"></ion-icon>

        File

        <input type="file" id="file-native">
      </ion-button>

      <ion-button [color]="scannedImages.length? 'success':'dark'" [disabled]="!scannedImages.length || submitting" shapre="round" (click)="submit()">
        <ion-icon name="send" class="scan-button-icon"></ion-icon>
        
        Submit
      </ion-button>
    </div>

    <div class="scanned-images">
      <div class="scanned-image" *ngFor="let image of scannedImages; let i = index">
        <img [(src)]="image.imageData">

        <div class="scanned-image-footer">
          <span class="title">
            Page {{ i + 1 }}
          </span>

          <ion-icon slot="icon-only" name="reverse-camera" class="scanned-image-action" (click)="removeImage(image)"></ion-icon>

          <ion-icon slot="icon-only" name="close-circle" class="scanned-image-action"
            (click)="removeImage(image)" color="danger">
          </ion-icon>
        </div>

        <ion-progress-bar type="indeterminate" *ngIf="submitting"></ion-progress-bar>
      </div>

      <span *ngIf="!scannedImages.length">
          No pages scanned yet
      </span>
    </div>
    </ion-card>

    <div class="validation-results" *ngIf="validationResults.length">

        <ion-card>
          <ion-card-header class="validation-results-header">
            <ion-card-title>Validation Results</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ul class="list">
              <li *ngFor="let val of validationResults" class="list-item">
                  <ion-icon name="checkmark-circle" color="success" *ngIf="val.value"></ion-icon>
      
                  <ion-icon name="close-circle" color="danger" *ngIf="!val.value"></ion-icon>
      
                  {{ val.key }}: {{ val.value }}
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
    </div>
  </div>
</ion-content>
