.homepage {
  .card {
    padding: 0 5vw;

    .icon {
        width: 10vw;
        height: 10vw;
    }

    .card-header {
        display: flex;

        .title {
            align-self: center;
            font-size: 5vw;
            margin: 0 2vw;
        }

        .badge {
            align-self: center;
        }
    }
  }
}
