.homepage-header {
  display: flex;
  align-items: center;

  .logo {
    height: 30px;
    margin-left: 10px;
    width: 30px;
  }

  .title {
    font-size: 10vw;
    font-family: cursive;
  }
}

.homepage {
  .card {
    padding: 0 5vw;

    .icon {
        width: 10vw;
        height: 10vw;
    }

    .card-header {
        display: flex;

        .title {
            align-self: center;
            font-size: 5vw;
            margin: 0 2vw;
        }

        .badge {
            align-self: center;
        }
    }
  }
}
