<ion-header>
  <ion-toolbar>
    <ion-title>
      Form Validator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="homepage">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>New Scan</ion-card-title>
      </ion-card-header>

      <button class="ion-activatable" routerLink="/scan">
        <img src="/assets/icon/scan-icon.jpg" alt="" class="card-img" />

        <ion-ripple-effect></ion-ripple-effect>
      </button>

      
      
      <ion-card-content>
        <p>
          Start Scanning new Form.
          ...... Other instructions
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Reports</ion-card-title>
      </ion-card-header>

      <img src="" alt="" />
      
      <ion-card-content>
        <p>
          Click to check reports.
          ...... Other instructions
        </p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
